<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SqlUserMapper">

	<select id="selectUser" parameterType="light.vo.UserVo"
		resultType="light.vo.UserVo">
		SELECT * FROM street_lamp.user
		<if test="user_id != null">
			WHERE user_id = #{user_id}
			AND user_password =
			#{user_password}
		</if>
	</select>
	<select id="selectUserId" parameterType="light.vo.UserVo"
		resultType="light.vo.UserVo">
		SELECT * FROM street_lamp.user
		<if test="user_id != null">
			WHERE user_id = #{user_id}
		</if>
	</select>
<insert id="insertUser" parameterType="light.vo.UserVo">
		INSERT INTO
		street_lamp.user
		(user_id,
		user_name,
		user_password,
		user_contact
		) VALUES
		(#{user_id},
		#{user_name},
		#{user_password},
		#{user_contact}
		)
	</insert>
	<update id="updateUserCon" parameterType="light.vo.UserVo">
		UPDATE
		street_lamp.user SET
		user_contact=#{user_contact}
		WHERE user_id=#{user_id}
		
	</update>
	<update id="upadateUserPass" parameterType="light.vo.UserVo">
		UPDATE
		street_lamp.user SET
		user_password=#{user_password}
		WHERE user_id=#{user_id}
	</update>
	<delete id="deleteUser" parameterType="light.vo.UserVo">
		DELETE FROM
		street_lamp.user
		WHERE user_id=#{user_id}
	</delete>
	<update id="upadateUserProfile" parameterType="light.vo.UserVo">
		UPDATE
		street_lamp.user SET
		user_album=#{user_album}
		WHERE user_id=#{user_id}
	</update>

</mapper>